@import 'reset.css';
@import 'variables.css';
@font-face {
    font-family: 'Karnak';
    src: url(../fonts/karnakcondensed-normal-700.woff);
}


html { 
    height: 100%; 
}

body {
    height: 100%;
    color: var(--text-color);
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

#site-container {
    // position: absolute;
    // right: 0;
    // left: 0;
    // bottom: 0;
    background-color: var(--background-color);
    height: 100%;
    // display: grid;
    // grid-template-rows: auto 1fr;
    // grid-template-areas: "header"
    //                      "game";
    header {
        height: 50px;
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // grid-area: header;
    }
}

.menu-left,
.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
@media (max-width: 360px) {
    .menu-left,
    .menu-right {
        gap: 0px;
    }
    #site-container > header {
        padding: 0 8px;
    }
}

#skip-button {
    font-style: italic;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

body.dark {
    #site-container>header {
        border-bottom: 1px solid var(--dark-gray);
    }

    #help-button {
        background-image: url('../icons/help-white.png');
        background-repeat:no-repeat;
        background-position: center center;
        height: 27px;
        width: 32px;
    }
}
body.light {
    #site-container>header {
        border-bottom: 1px solid var(--light-gray);
    }

    #help-button {
        background-image: url('../icons/help-black.png');
        background-repeat:no-repeat;
        background-position: center center;
        height: 27px;
        width: 32px;
    }
}

#statistics-icon {
    fill: var(--icon-color);
    width: 24px;
    height: 24px;
}

#statistics-button {
    margin-top: 3px;
    margin-left: 3px;
    margin-right: -3px;
}

#statistics-button,
#statistics-button:hover,
#help-button {
    cursor: pointer;
}

.title {
    pointer-events: none;
    font-size: 22px;
    font-family: 'Karnak';
    font-weight: 400;
    margin-left: 12px;
    letter-spacing: 0.3px;
}
@media (min-width: 360px) {
    .title {
        pointer-events: none;
        font-size: 37px;
    }
}

#theme-button {
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

#help-container {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    background-color: var(--background-color);
    z-index: 2000;  
    .content {
        position: relative;
        color: var(--text-color);
        padding: 0 32px;
        max-width: 564px;
        // width: 100%;
        overflow-y: auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        @media only screen and (min-width: 320px) and (max-width: 480px) {
            max-width: 100%;
            padding: 0;
        }
        header {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-height: 39px;
            margin-bottom: 7px;
            h1 {
                font-weight: 700;
                font-size: 16px;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                text-align: center;
                // margin-bottom: 10px;
            }
        }
        section {
            padding: 16px;
            padding-top: 0px;
            .instructions {
                font-size: 14px;
                p {
                    padding: 7px 0;
                    line-height: 1.2em;
                    span {
                        font-weight: bold;
                    }
                }
                .examples {
                    margin-top: 8px;
                    border: var(--section-border);
                    border-left: transparent;
                    border-right: transparent;
                }
            }
        }
    }
}

#help-container.open {
    display: flex;
    -webkit-animation: fadein 225ms cubic-bezier(0,.89,.17,.82) forwards; 
    animation: fadein 225ms cubic-bezier(0,.89,.17,.82) forwards; 
}
@-webkit-keyframes fadein {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
@keyframes fadein {
    from {
        transform: translateY(30%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#help-container.fadeout {
    -webkit-animation: fadeout 1000ms ease forwards;
    animation: fadeout 1000ms ease forwards;
}
@-webkit-keyframes fadeout {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(60%);
    }
    0% {
        opacity: 0.6;
    }
    25% {
        opacity: 0.0;
    }
  }
  
@keyframes fadeout {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(60%);
    }
    0% {
        opacity: 0.6;
    }
    25% {
        opacity: 0.0;
    }
}

#close-help-menu-button {
    // font-size: 23px;
    // color: var(--text-color);
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    user-select: none;
    margin-top: -4px;
    margin-right: 2px;
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 19px;
}
body.dark {
    #close-help-menu-button {
        background-image: url("../icons/close-menu-white.png");
    }
}
body.light {
    #close-help-menu-button {
        background-image: url("../icons/close-menu-black.png");
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
    #close-help-menu-button {
    margin-right: 18px;
    }
}

#help-menu-new-game-text {
    font-weight: 600;
}

#help-menu-next {
    padding: 0 6px;
    font-style: italic;
}

#game-container {
    // grid-area: game;
    // display: grid;
    // grid-template-rows: 1fr auto;
    // grid-template-areas: "gameboard"
    //                      "keyboard";
    // justify-self: center;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: calc(100% - 50px);
    margin: 0 auto;
}

.gameboard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    // justify-self: center;
    // width: 100vw;
}

.gameboard {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    // width: 350px;
    // height: 420px;
    width: 100%;
    height: 100%;
    max-width: 350px;
    flex-shrink: 1;
    // width: 100%;
    // height: calc(90vh - 250px);
    box-sizing: border-box;
}
@media (max-width: 359px) {
    .gameboard {
        height: calc(100vw + 60px);
        max-height: 100%;
    }
}
@media (min-height: 670px) and (min-width: 360px) {
    .gameboard {
        height: 420px;
    }
}
// @media (min-width: 360px) {
//     .gameboard {
//         min-width: 350px;
//     }
// }

@media (min-width: 360px) and (max-height: 670px) {
    .gameboard {
        // width: auto;
    }
}

// @media (min-width: 350px) {
//     .gameboard {
//         max-width: 350px;
//     }
// }
// @media (min-height: 670px) {
//     .gameboard {
//         height: calc(100vh - 250px);
//         max-height: 420px;
//     }
// }

.gameboard .row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
// .row .tile::before {
//     content: '';
//     display: inline-block;
//     padding-bottom: 100%;
// }
.row .tile {
        // width: 100%;
        // height: auto;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        font-size: 1rem;
        // line-height: 1em;
        font-weight: bold;
        vertical-align: middle;
        box-sizing: border-box;
        color: var(--tile-text-color);
        text-transform: uppercase;
        user-select: none;
        // aspect-ratio: 1 / 1;
}
// @media (max-height: 670px) and (max-width: 350px) {
//     .row .tile {
//         //(100vw - 40px) / 5
//         height: calc((100% - 40px) / 5);
//         width: calc((100% - 40px) / 5);
//     }
// }
    // .tile::before {
    //     content: '';
    //     display: inline-block;
    //     padding-bottom: 100%;
    // }

@media (min-height: 600px) {
    .row {
        .tile {
            font-size: 2rem;
            line-height: 1em;
        }
    }
}

body.dark {
    .row .tile[data-state="empty"] {
        border: 2px solid var(--dark-gray);
    }    
}
body.light {
    .row .tile[data-state="empty"] {
        border: 2px solid var(--light-gray);
    }    
}

.keyboard-container {
    height: 200px;
    justify-self: center;
    width: 100%;
    // max-width: 500px;
}
.keyboard {
    margin: 0 8px 0 8px;
    user-select: none;
    justify-self: center;
    // width: 100%;
}

.row1,
.row2,
.row3 {
    display: flex;
    // width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
    max-width: 500px;
}

.row1 button,
.row2 button,
.row3 button {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    user-select: none;
    background-color: var(--light-gray);
    color: var(--text-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media (max-width: 400px) {
    .row1 button,
    .row2 button,
    .row3 button {
        font-size: 12px;
    }
}

.no-margin {
    margin: 0 !important;
}

.spacer {
    flex: 0.5;
}

#enter-button,
#delete-button {
    // min-width: min-content;
    // max-width: 65px;
    flex: 1.5;
    // padding: 0;
}

#enter-button {
    font-size: 12px;
}

body.dark {
    #delete-button {
        background-image: url('../icons/delete-white.png');
        background-repeat:no-repeat;
        background-position: center center;
    }
}
body.light {
    #delete-button {
        background-image: url('../icons/delete-black.png');
        background-repeat:no-repeat;
        background-position: center center;
    }
}

#statistics-container {
    display: none;
}