body.dark {
    --background-color: #121213;
    --text-color: #fff;
    --secondary-text-color: #fff;
    --icon-color: #fff;
    --dark-gray: #3A3A3C;
    --light-gray: #818384;
    --empty-tile-border-color: var(--dark-gray);
    --section-border: 1px solid #3A3A3C;
    --yellow: #B59F3B;
    --green: #538D4E;
}
body.light {
    --background-color: #fff;
    --text-color: #000;
    --secondary-text-color: #fff;
    --icon-color: #000;
    --dark-gray: #787C7E;
    --light-gray: #D3D6DA;
    --empty-tile-border-color: var(--light-gray);
    --section-border: 1px solid #D3D6DA;
    --yellow: #C9B458;
    --green: #6AAA64;
}
