body.dark {
    --background-color: #121213;
    --text-color: #fff;
    --secondary-text-color: #fff;
    --icon-color: #fff;
    --dark-gray: #3A3A3C;
    --light-gray: #818384;
    --gray: #565758;
    --empty-tile-border-color: var(--dark-gray);
    --section-border: 1px solid #3A3A3C;
    --yellow: #B59F3B;
    --green: #538D4E;
    --disabled-button-background-color: #1E1E1E;
    --disabled-button-color: #606060;
    --modal-border-color: #1a1a1b;
}
body.light {
    --background-color: #fff;
    --text-color: #000;
    --secondary-text-color: #fff;
    --icon-color: #000;
    --dark-gray: #787C7E;
    --light-gray: #D3D6DA;
    --gray: #878a8c;
    --empty-tile-border-color: var(--light-gray);
    --section-border: 1px solid #D3D6DA;
    --yellow: #C9B458;
    --green: #6AAA64;
    --disabled-button-background-color: #C9CBCC;
    --disabled-button-color: #ececec;
    --modal-border-color: #f6f7f8;
}
