@import 'reset.css';
@import 'variables.css';
@font-face {
    font-family: 'Karnak';
    // src: url(../fonts/KarnakPro-CondensedBlack.ttf);
    src: url(../fonts/karnakcondensed-normal-700.woff);
}


body {
    color: var(--text-color);
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
}

#site-container {
    background-color: var(--background-color);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header"
                         "game";
}
#site-container>header {
    height: 50px;
    padding: 0 16px;
    border-bottom: 1px solid var(--dark-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
}

.menu-left,
.menu-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#skip-button {
    font-style: italic;
    color: var(--text-color);
    font-weight: 600;
    cursor: pointer;
}

body.dark {
    #help-button {
        background-image: url('../icons/help-white.png');
        background-repeat:no-repeat;
        background-position: center center;
        height: 27px;
        width: 32px;
    }
}
body.light {
    #help-button {
        background-image: url('../icons/help-black.png');
        background-repeat:no-repeat;
        background-position: center center;
        height: 27px;
        width: 32px;
    }
}

#statistics-icon {
    fill: var(--icon-color);
    width: 24px;
    height: 24px;
}

#statistics-button {
    margin-top: 3px;
}

#statistics-button,
#statistics-button:hover,
#help-button {
    cursor: pointer;
}

.title {
    pointer-events: none;
    font-size: 22px;
    font-family: 'Karnak';
    font-weight: 400;
    margin-left: 16px;
    letter-spacing: 0.4px;
}
@media (min-width: 360px) {
    .title {
        pointer-events: none;
        font-size: 37px;
    }
}

#theme-button {
    cursor: pointer;
    background-color: transparent;
    color: var(--text-color);
    font-weight: 600;
    // outline: 2px solid var(--icon-color);
    // border-radius: 5px;
    // padding: 3px 5px;
}

.content-container {
    grid-area: game;
}
// .game-container {
//     height: auto;
// }